body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    /* width: calc(33.33% - 20px); */
    width: 30%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 1rem;
    margin: 0;
  }
  
  button {
    background-color: #36dcc6;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #03cdb2;
  }
  input[type="number"] {
    width: 50px;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
  }
  
  .cart {
    margin-top: 20px;
  }
  
  .cart h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .item p {
    font-size: 1rem;
    margin: 0;
  }
  
  .item button {
    background-color: #ff3333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .item button:hover {
    background-color: #cc0000;
  }
  

  .emtycart{
    font-size: 20px;
    margin-top: 30px;
    font-style: italic;
  }